@model LibraryApp.Models.Borrow

@{
    ViewData["Title"] = "Delete";
}

<h1>Finalizar Empréstimo</h1>

<h3>Deseja finalizar esse empréstimo?</h3>
<div>
    <h4>Borrow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Data Inicial
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialDate)
        </dd>
        <dt class = "col-sm-2">
            Data Final
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Finalizar" class="btn btn-danger" /> |
        <a asp-action="Index"><input type="button" class="btn btn-dark" value="< Retornar aos Empréstimos" /></a>
    </form>
</div>
